.page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 1.5rem 0 1.5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
  .page-title {
    margin: 0;
  }
  .page-subtitle {
    color: #6e7687;
    padding-left: 2%;
    font-size:12px; 
    margin-bottom: 0%;
  }
  .page-options {
    margin-left: auto;
  }